<div>
  <p>Create new Question with or without movie name</p>
  <input [(ngModel)]="userMovieRequest" (ngModelChange)="onChange(userMovieRequest)">
  <input type="submit" (click)="CreateQuestion(userMovieRequest)" value="Generate">

  <div class="newQuestionListDiv">
    <div *ngFor="let question of newQuestionList;let i = index">
      <app-question-representation
        [question]="question"
      ></app-question-representation>
    </div>
  </div>
</div>
