<div class="questionListDiv">

  <div *ngFor="let question of questionList;let i = index">
    <app-question-representation
      [question]="question"
    ></app-question-representation>
  </div>
</div>
