
  <div *ngIf="!userService.userConnected &&!createAccount" class="LoginPanel">
    <p>{{'Login :'}}</p>
    <input [(ngModel)]="inputLogin">
    <p>{{'Mot de passe :'}}</p>
    <input [(ngModel)]="inputPassword">
    <input type="submit" (click)="tryConnect(inputLogin, inputPassword)">
  </div>
  <input type="submit" *ngIf="userDoesntExist" (click)="createAccount=true ; userDoesntExist=false"
         value="Creer un compte">

  <div *ngIf="!userService.userConnected &&createAccount" class="LoginPanel">
    <p>Creez un compte :</p>
    <p>{{'Name :'}}</p>
    <input [(ngModel)]="signInName">
    <p>{{'Mot de passe :'}}</p>
    <input [(ngModel)]="signInPassword">
    <input type="submit" (click)="createNewUser(signInName, signInPassword)">
  </div>

  <div *ngIf="userService.userConnected" class="LoginPanel">
    <p>Vous êtes connectés en tant que : {{userService.currentUser.userName}}</p>
    <p>votre meilleur score est  :{{userService.currentUser.userBestScore}}</p>
    <input type="submit" (click)="disconnect()" value="Disconnect">
  </div>
  <p *ngIf="displayLoginMessage">{{loginMessage}}</p>
