<app-login-panel></app-login-panel>

<router-outlet>
  <body class="routerClass">
  <div>
    <nav>
      <a routerLink="/user" routerLinkActive="active" class="btn btn-info">User Panel</a>
      <a routerLink="/creator" routerLinkActive="active" class="btn btn-info">Creator Panel</a>
    </nav>
  </div>
  </body>
</router-outlet>
