<router-outlet>
  <body class="routerClass">
  <div>
    <nav>
      <a routerLink="/user/generate" routerLinkActive="active" class="btn btn-info">Generate Random Question</a>
      <a routerLink="/user/answer" routerLinkActive="active" class="btn btn-info">Answer Quiz</a>
    </nav>
  </div>
  </body>
</router-outlet>
