.questionCards{

  background-color: black;
  text-align: center;
  border-radius: 10px;
  font-family: fantasy;
  color: chartreuse;
  margin-block-start: -1em;
  margin-block-end: -1em;
  opacity: 100%;
}

@keyframes anim {
  0% {
    transform: translate(37px,-39px);
    opacity: 0%;
  }
  100% {

  }
}


.animationPeopleCard{
  animation: anim;
  animation-duration: 1s;
}
