<div class="questionCards" (mouseenter)="showAnswerInput=true" (mouseleave)="showAnswerInput = false" *ngIf="showQuestion">
  <p>{{question.id}}</p>
  <p>{{question.questionText}}</p>
  <p>{{question.questionAnswer}}</p>

  <div *ngIf="showAnswerInput">
    <input [(ngModel)]="userAnswer" (ngModelChange)="onChange(userAnswer)">
    <input type="submit" (click)="TryAnswer(question.id, userAnswer)" (keydown.enter)="TryAnswer(question.id, userAnswer)"  [disabled]="buttonState">
    <p *ngIf="isUserRight"> Hey bravo !</p>
    <p *ngIf="isUserWrong"> Gros naze !</p>
  </div>
</div>
